@charset "UTF-8";
* {
    margin: 0
}

body {
    background: #694d76;
	color: #1a1a1a;
	font-family: 'Archivo', sans-serif;
	font-stretch: expanded;
    font-size: 50pt;
    font-weight: 500;
    line-height: 0.6;
}

canvas {
    pointer-events: none;
    position: absolute;
    z-index: -1
}

#container {
    left: 50%;
    max-width: 70%;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 500px
}

#logo {
    background-image: url(wordmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 56px;
    transition: filter 1s cubic-bezier(.075, .82, .165, 1);
    width: 300px
}

#topText {
	font-family: 'Archivo', sans-serif;
	font-stretch: expanded;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-decoration: none;
    color: #fff;
}

#links>a {
	font-family: 'Archivo', sans-serif;
	font-stretch: expanded;
    color: #fff;
    display: table;
    font-weight: 500;
    text-decoration: none;
    transition: filter .6s cubic-bezier(.13, .62, 0, .97), letter-spacing .6s cubic-bezier(.13, .62, 0, .97)
}

#links>a:hover {
    letter-spacing: 1px
}

#links>a:active {
    letter-spacing: 2px
}

#nowplaying {
    color: #ddd;
    font-size: 10pt;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 1s
}

#nowplaying:before {
    color: #bbb;
    content: "♫";
    margin-right: 3px
}

#nowplaying.visible {
    opacity: 1
}

@media only screen and (pointer:coarse) and (hover:none) {
    #container {
        zoom: 2
    }
}

#mochuhh {
	bottom: 0px;
	height: 981px;
	right: -119%;
	height: 534px;
	right: -27%;
	position: fixed;
	transform: translate(-35%) scale(0.2);
	transform: translate(-34%) scale(0.5);
	z-index: 9999;
}


#mochuhh>img {
	animation: 2s float ease-in-out infinite alternate;
}