@font-face {
    font-family: 'EquitanSans';
    src: url('EquitanSans-SemiBold.eot');
    src: url('EquitanSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('EquitanSans-SemiBold.woff2') format('woff2'),
        url('EquitanSans-SemiBold.woff') format('woff'),
        url('EquitanSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palmer Lake Print';
    src: url('PalmerLakePrint-Regular.eot');
    src: url('PalmerLakePrint-Regular.eot?#iefix') format('embedded-opentype'),
        url('PalmerLakePrint-Regular.woff2') format('woff2'),
        url('PalmerLakePrint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

